<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dongyang.android.aob">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.dongyang.android.aob.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 선언 -->
    <!-- 구글맵 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- WiFI 또는 모바일 데이터를 바탕으로 기기위치 파악할 수 있게 해줌 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 위치 데이터를 바탕으로 최대한 정확하게 위치를 파악할 수 있게 한다. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 구글 play-services 내부적으로 구글 서버와 연동하기 위한 퍼미션 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- play-services 라이브러리에서 구글 서버의 콘텐츠를 외부 메모리 공간에 캐싱 개념으로 저장, 사용하기 위해 필요한 퍼미션 -->
    <!-- 아고라 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- 자가 수리 -->
    <!-- Camera 기능 및 내/외부 저장소에 저장 할 수 있도록 권한설정 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 문자전송 -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 후방 스트리밍 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--
 Android 11(API 수준30) 이상에서 필터링 되는걸 표시하려고 넣음
        https://developer.android.com/training/package-visibility/declaring
    -->
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name="com.dongyang.android.aob.VoiceChat.AGApplication"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AOB"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity android:name=".User.UserChangeActivity"></activity>
        <activity android:name=".User.InfoActivity" />
        <activity android:name=".Safety.SafeActivity" />
        <activity android:name=".User.FavoriteActivity" />
        <activity android:name=".Repair.YoutubeActivity" />
        <activity android:name=".Repair.YoutubePlayerActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_API_KEY}" />

        <activity
            android:name=".Main.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".Introduction.Activity.FindActivity" />
        <activity android:name=".Introduction.Activity.RegisterActivity" />
        <activity android:name=".Introduction.Activity.LoginActivity" />
        <activity android:name=".VoiceChat.ChatActivity" />
        <activity android:name=".VoiceChat.ChatStartActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- android:authorities="com.oaie.fileprovider" -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service android:name=".Safety.tcp" />
    </application>

</manifest>